cv, ident, phraseAccroche, 
formations, formation, 
experiences, experience, 
diplomes, diplome{
	display:block;
	/*border:1px solid black;*/
}
@media print {
	cv{
		background-color:#ACACAC;
	}
}
@media screen and (min-width : 800px){
	cv{
		border:1px solid black;
	}
}
cv{
	width:21cm;
	page-break-after:always;
	padding-bottom: 2cm;
}
ident{
	margin-left:12cm;
	width:8cm;
	margin-top:1cm;
	margin-bottom:2cm;
}
datenaiss, tel,mail{
	display:block;
}
permis { display:none;}
vehicule:before{
	content:'Vehicule : ';
}
langue:before{
	display:block;
	content:attr(langName);
}

phraseAccroche{ 
	border:1px solid black;
	margin-left:5cm;
	margin-right:5cm;
	margin-bottom:2cm; 
	text-align:center;
	font-style:italic;
	font-weight:900;
}

formations:before, experiences:before{
	display:block;
	font-size:17pt;
	text-decoration: underline;
	font-weight:900;
}
formations:before{	content: 'Formations :';}
formations{ margin-bottom:1cm;}
formation{margin-left:1cm;}
diplomes{ margin-left:1cm;}
experiences:before{	content: 'Experiences :';}
experience{margin-left:1cm;}

diplome>intitule{color:blue;}
intitule{color:tomato;}
