cv, ident, phraseAccroche, 
formations, formation, 
experiences, experience, 
diplomes, diplome{
	display:block;
	/*border:1px solid black;*/
}
cv{
	height:275mm;
	width:21cm;
	page-break-after:always;
}
ident{
	margin-left:12cm;
	width:8cm;
	margin-top:1cm;
	margin-bottom:2cm;
}
datenaiss, tel,mail{
	display:block;
}
permis { display:none;}
vehicule:before{
	content:'Vehicule : ';
}
langue:before{
	display:block;
	content:attr(langName);
}

phraseAccroche{ 
	border:1px solid black;
	margin-left:5cm;
	margin-right:5cm;
	margin-bottom:2cm; 
	text-align:center;
	font-style:italic;
	font-weight:900;
}

formations:before{
display:block;
content: 'Formations :';
font-size:17pt;
}
formations{ margin-bottom:1cm;}
formation{margin-left:1cm;}
diplomes{ margin-left:1cm;}